*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Sans-serif;
    line-height: 1.6;
    color: #fbf9f9;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav.links ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
nav.links a{
    color: #fbf9f9;
    text-decoration: none;
    font-weight: 500;
}

#about {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 20px;
}

div#me img{
    margin-right: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#aboutme p{
    align-items: center;
}
#aboutme span{
    color: yellow;
}
#skills{
   text-align: center;
   padding: 2rem 3rem;
}

#skills ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}
#skills li{
    background-color:white;
    color: black;
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
    border: 1px solid #444;
}
